@keyframes scan {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.animate-scan {
  animation: scan 4s linear infinite;
}

.animate-shine {
  animation: shine 6s linear infinite;
  background-size: 200% auto;
}