@keyframes scan {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
}

.animate-scan {
  animation: scan 4s linear infinite;
}

.animate-shine {
  animation: shine 6s linear infinite;
  background-size: 200% auto;
}